// Variables
@import "variables";

@font-face {
    font-family: Montserrat-Regular;
    src: url('/css/fonts/montserrat/Montserrat-Regular.ttf'); 
  }
  
  @font-face {
    font-family: Montserrat-Bold;
    src: url('/css/fonts/montserrat/Montserrat-Bold.ttf'); 
  }
  
  @font-face {
    font-family: Montserrat-ExtraBold;
    src: url('/css/fonts/montserrat/Montserrat-ExtraBold.ttf'); 
  }
  
  @font-face {
    font-family: Montserrat-Medium;
    src: url('/css/fonts/montserrat/Montserrat-Medium.ttf'); 
  }
  .col-1, .col-2, .col-3 {
      float: left;
  }
  
  .col-1 {
      width: 52%;
      padding: 0 5% 0 2.5%;
  }
  
  .col-2, .col-3 {
      width: 24%;
      padding: 0 2.5%;
  }
  
  .homepage_content {
      h2 {
          font-size: 1.1rem;
          text-transform: uppercase;
      }
      h3 {
          font-size: 1.35em;
          font-weight: 400;
          margin-bottom: .5em;
      }
      a {
          text-decoration: none;
          color: $dark;
          &:hover {
              color: $highlight;
          }	
      }
      .date {
          font-size: .85em;
          margin-bottom: 2em;
          color: $light;
      }
      p {
          margin: 0 0 .75em 0;
      }
  }
  
  .about {
      padding: 0 7.5% 0 0;
      a {
          color: $highlight;
          font-weight: 700;
          text-decoration: none;
      }
  }
  /*Contact */
  
  .contact1 {
    width: 100%;
    min-height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .container-contact1 {
    width: 1163px;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 2em 6em 3em 7em;
  }
  
  .contact1-pic {
    width: 296px;
    margin-top: 1em;
    margin-left: 2em;
  }
  
  .contact1-pic img {
    max-width: 100%;
  }
  
  .contact1-form {
    width: 390px;
  }
  
  input.input1 {
    height: 50px;
    border-radius: .3em;
    padding: 0 .9em;
  }
  input.input1 + .shadow-input1 {
    border-radius: .3em;
  }
  
  textarea.input1 {
    min-height: 10.25em;
    border-radius: .3em;
    padding: 12px .9em;
  }
  textarea.input1 + .shadow-input1 {
    border-radius: .3em;
  }
  
  .wrap-input1 {
    position: relative;
    width: 100%;
    z-index: 1;
    margin-bottom: 20px;
  }
  
  .input1 {
    display: block;
    width: 100%;
    background: none;
    font-size: .9em;
    font-family: Montserrat-Regular, sans-serif;
    line-height: 1.5;
    color: $dark;
  }
  
  .shadow-input1 {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 0px 0px;
    color: rgba(87,184,70, 0.5);
  }
  
  .input1:focus + .shadow-input1 {
    -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
    animation: anim-shadow 0.5s ease-in-out forwards;
  }
  
  @-webkit-keyframes anim-shadow {
    to {
      box-shadow: 0px 0px 80px 30px;
      opacity: 0;
    }
  }
  
  @keyframes anim-shadow {
    to {
      box-shadow: 0px 0px 80px 30px;
      opacity: 0;
    }
  }
  
  .container-contact1-form-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .contact1-form-btn {
    min-width: 193px;
    height: 50px;
    border-radius: .3em;
    background: $highlight;
    border: none;
    font-size: 15px;
    font-family: Montserrat-ExtraBold;
    line-height: 1.5;
    color: $white;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    &:hover {
            border: 1px solid $highlight;
          background: none;
          color: $highlight;
        }
  }
  
  .contact1-form-btn i {
    margin-left: 7px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }
  
  .contact1-form-btn:hover i {
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
    transform: translateX(10px);
  }